
*.lock


src/TalentVNCore/ApplicationCore/obj/

src/TalentVNCore/AppServices/obj/

*.cache

src/TalentVNCore/Infrastructure/obj/

src/TalentVNCore/.vs
src/TalentVNCore/\.vs/TalentVNCore/v15/
/src/TalentVNCore/AppServices/bin
/src/TalentVNCore/ApplicationCore/bin
/src/TalentVNCore/Infrastructure/bin


src/TalentVNCore/SchoolCMS/bin
src/TalentVNCore/SchoolCMS/obj
