
*.lock

src/TalentVNCore/\.vs/TalentVNCore/v15/Server/sqlite3/

src/TalentVNCore/ApplicationCore/obj/

src/TalentVNCore/AppServices/obj/

*.cache

src/TalentVNCore/Infrastructure/obj/

src/TalentVNCore/WebApp/obj/

src/TalentVNCore/\.vs/TalentVNCore/v15/
/src/TalentVNCore/AppServices/bin
/src/TalentVNCore/ApplicationCore/bin
/src/TalentVNCore/Infrastructure/bin
/src/TalentVNCore/WebApp/bin

src/TalentVNCore/\.vs/config/

src/TalentVNCore/WebSPA/\.vscode/launch\.json

src/TalentVNCore/WebSPA/\.vscode/

src/TalentVNCore/WebSPA/ClientApp/\.editorconfig
