
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
    <span>Confirm successfully! Click <a asp-controller="Home" asp-action="Index">Here</a> To go to Home page</span>
</body>
</html>
