<div class="container menu-content">
    <div id="responsive-panel">
        @(Html.Kendo().Menu()
                            .Name("Menu")
                            .Items(items =>
                            {
                                items.Add()
                                        .Text("Accounts")
                                        .Action("Index", "Accounts");
                                items.Add()
                                        .Text("Students")
                                        .Action("Index", "Students");
                                items.Add()
                                        .Text("Teachers")
                                        .Action("Index", "Teachers");
                                items.Add()
                                        .Text("Groups")
                                        .Action("Index", "Groups");
                                items.Add()
                                        .Text("Notifications")
                                        .Action("Index", "Notifies");
                                items.Add()
                                        .Text("News")
                                        .Action("Index", "News");
                            })
        )

    </div>
    <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle"><span class="k-icon k-i-hbars"></span></button>
</div>

<script>
        $(document).ready(function () {
            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
</script>